@font-face {
  font-family: "MontserratRegular";
  src: url("../assets/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AwesomeBirds";
  src: url("../assets/Awesome-Birds.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MontserratThin";
  src: url("../assets/Montserrat-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MontserratItalic";
  src: url("../assets/Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MontserratSemiBold";
  src: url("../assets/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0 auto;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
  height: 121px;
  margin-left: 50px;
  margin-top: 20px;
  cursor: pointer;
  font-family: AwesomeBirds;
  font-size: 40px;
}

.navigation li {
  padding: 0px 40px 10px 10px;
}

nav a {
  text-decoration: none;
  font-family: MontserratRegular;
  color: white;
}

nav a:hover {
  color: #bf7979;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.social-media-icon {
  display: flex;
  flex-direction: column;
}

.social-media-icon img {
  cursor: pointer;
}

.face {
  width: 30px;
  height: 30px;
  margin: 20px 30px 0px 0px;
}

.insta {
  width: 30px;
  height: 30px;
  margin: 20px 30px 0px 0px;
}

.logo-holder-mobile {
  display: none;
}

.dropbtn {
  background-size: cover;
  background-image: url(../img/menu-bar.png);
  color: white;
  width: 30px;
  height: 25px;
}

.dropdown {
  position: relative;
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #b2b3bb;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding-top: 20px;
}

.dropdown-content a {
  color: #bf7979;
  margin: 12px 16px;
  text-decoration: none;
  display: block;
  background-image: url("../img/menu-image.jpeg");
  background-size: cover;
  height: 50px;
  display: flex;
  align-items: center;
}

.dropdown-content a:hover {
  background-color: #bf7979;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
}

.dropbtnS {
  background-size: cover;
  background-image: url(../img/shoping-bag-pink.png);
  color: black;
  width: 30px;
  height: 30px;
  margin: 0px 30px 0px 0px;
}

.dropdownS {
  position: relative;
  cursor: pointer;
}

.dropdown-contentS {
  display: none;
  position: absolute;
  background-color: #aaf0d1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0px;
  padding-top: 20px;
  width: 414px;
  height: 950px;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
  top: -120px;
}

.dropdown-contentS a {
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.dropdown-contentS a:hover {
  background-color: #bf7979;
}

.dropdownS:hover .dropbtnS {
  background-color: transparent;
}

.show {
  display: block;
}

.close-content {
  width: 20px;
  height: 32px;
  right: 30px;
  position: relative;
  bottom: 10px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

/* Useful Classes */

.xy-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.transition {
  transition: all 350ms ease-in-out;
}

.r-3-2 {
  width: 100%;
  padding-bottom: 100%;
  background-color: #ddd;
}

/* Main Styles */

.gallery-wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 20px;
}

.gallery {
  position: relative;
  white-space: nowrap;
  font-size: 0;
  height: 400px;
}

.item-wrapper {
  position: relative;
  cursor: pointer;
  /* arbitrary value */
  display: inline-block;
  background-color: white;
  margin-right: 30px;
  width: 350px;
  height: 350px;
}

.item-wrapper:hover {
  transform: scale(1.1);
  transition: ease-out 0.5s;
}

.overlay {
  background: #facacb;
  color: #bf7979;
  width: 200px;
  transition: 0.5s ease;
  opacity: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  position: absolute;
  font-family: Montserratregular;
  font-weight: bold;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f3dedc;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidenav a {
  margin: 12px 16px;
  text-decoration: none;
  transition: 0.3s;
  color: #bf7979;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.displ-butt {
  display: none;
}

.common-styles {
  background-size: cover;
  height: 79px;
  font-size: 25px;
  display: flex;
  align-items: center;
  font-family: MontserratRegular;
}

/* Mobile */
@media only screen and (max-width: 835px) {
  .displ-butt {
    display: inline-block;
  }

  .navigation {
    display: none;
  }

  .dropdown {
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
  }

  .dropdown-content {
    font-family: MontserratRegular;
  }

  .shop ul {
    font-size: 12px;
  }

  .styles-container {
    display: none;
  }

  .overlay-mobile {
    background: #facacb;
    color: #bf7979;
    transition: 0.5s ease;
    opacity: 1;
    font-size: 20px;
    padding: 5px 20px;
    text-align: center;
    position: absolute;
    font-family: Montserratregular;
    font-weight: bold;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
  }

  .basket {
    top: 145px;
  }
}

@media only screen and (min-width: 1850px) {
  nav a {
    font-size: 20px;
  }
}
